/*=============================================
=                   Colors                    =
=============================================*/

$brand         :   rgba(106, 64, 79, 1.0);
$light-brand   :   rgba(128, 76, 95, 1.0);
$lighter-brand : rgba(216, 192, 201, 1.0);
$dark-brand    :    rgba(86, 45, 60, 1.0);
$back          :    rgba(80, 42, 55, 1.0);
$text          : rgba(252, 252, 252, 1.0);