$light-brand: rgba(128, 76, 95, 1.0);
$brand      : darken(rgba(120, 71, 88, 1.0),4);
$dark-brand : darken(rgba(101, 51, 69, 1.0),4);
$back       : darken($dark-brand, 2);
$text       : rgba(252, 252, 252, 1.0);