/*=============================================
=                  Typography                 =
=============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
    color:     $text;
    font-weight: 400;
}

h1 {
	color:      $light-brand;
    font-weight:  300;
    font-size: 2.8rem;
}

h2 {
    font-size:   1.4rem;
    padding-bottom: 4px;
}

p {
    color: darken($placeholder, 20);
    font-weight: 300;
    opacity:     0.8;
}

a{
    color: white;
}

a:hover {
	color: lighten($light-brand, 10);
}

.i-large {
    font-size:          2.2rem;
    color: white;
    padding: 2px 14px 0px 10px;
}

i:hover {color: $light-brand;}
