@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
    color: $white;
    font-weight: 400;
}

h1 {
    font-weight: 300;
    font-size: 2.8rem;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: 4px;
}

p {
    font-weight: 300;
    opacity: 0.8;
}

.i-large {
    font-size: 2.2rem;
    padding: 2px 14px 0px 10px;
}
