.container-nav {
    margin: 0 auto;
    max-width: 992px;
}

.container-table {
    margin: 0 auto;
    max-width: 680px;
}

.collection-item:nth-child(even) {
    background-color: rgba(108, 56, 75, 1.0);
}