@import "normalise";
@import "colors";
@import "typography";

body {
    background-color: $back;
}

nav, .list-item {
    background-color: $light-brand;
    margin: 0 auto;
    max-width: 520px;
    transition: all 0.6s;
}


nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 8px 0 18px;
}

.nav-left, .nav-right {
    height: 94px;
    display: flex;
    align-items: center;
}


.list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}


.container-nav, .container {
    max-width: 520px;
    margin: 0 auto;
}

.list-item:nth-child(odd) {
    background-color: $brand;
}

.list-item:nth-child(even) {
    background-color: $light-brand;
}

#search-bar {
    background-color: $light-brand;
    margin: 0 auto;
    height: 80px;
    max-width: 520px;
    transition: all 0.6s;
    text-align: center;
    overflow: hidden;
}

#search-bar > input[type=text] {
	max-width: 		400px;
	border: 		 none;
	font-size: 		 26px;
	font-weight: 	  400;
    border-radius:   25px;
	padding:   	  2px 20px 2px 20px;
    background-color: $light-brand;
    
	transition:         width 0.4s ease-in-out;
    border: 2px solid lighten($dark-brand, 2);

    &:focus {
        outline: none;
        background-color: lighten($light-brand, 4);
    }
}

#search-bar > input[type=text]:focus {
    outline: none;
}

#add-bar {
    background-color: $light-brand;
    margin: 0 auto;
    height: 380px;
    max-width: 520px;
    transition: all 0.6s;
    overflow: hidden;
    display: none;
}

#add-form {
    max-width: 460px;
    margin: 10px auto 10px;
    text-align: center;
    
    input[type=text] {
        width:        360px;
        border: 	   none;
        font-size: 	   16px;
        font-weight: 	400;
        margin:         6px;
        border-radius: 25px;
        padding:   6px 20px;

        transition:         width 0.4s ease-in-out;
        background-color: 		     $light-brand;
        border: 2px solid lighten($dark-brand, 2);

        &:focus {
            background-color: lighten($light-brand, 4);
            outline: none;
        }
    }
    
    input[type=file] {
        border: none;
        font-size: 12px;
        margin: 12px 0 12px 62px;;
    }
}


#file {
    padding: 20px 0 0 0;
}


button {
    background-color: $brand;
    border: 2px solid $dark-brand;
    padding: 6px 26px;
    font-size: 16px;
    border-radius: 10px;
    margin: 18px;
	color: lighten($light-brand, 30);
    transition: all 0.3s;

    &:hover {
        background-color: $dark-brand;
    }
}


// ---- Placeholder Text ---- //

::-webkit-input-placeholder {
	color: darken($dark-brand, 20);
	text-transform:        capitalize;
}

:-moz-placeholder {
	color: darken($dark-brand, 20);
	text-transform:        capitalize;
	opacity: 	   		        	1;
}

::-moz-placeholder {
	color: darken($dark-brand, 20);
	text-transform:        capitalize;
	opacity: 	 		            1;
}

:-ms-input-placeholder {
	color: darken($dark-brand, 20);
	text-transform:        capitalize;
}


// ---- Remove IOS Standard Styles ---- //

input, button {-webkit-appearance: none;}


main {
    height: 100vh;
    max-width: 520px;
    margin: 0 auto;
    background-color: $light-brand;
}

ul {
    background-color: $light-brand;
    padding-bottom: 80px;
}

.list-item:hover {
    background-color: $dark-brand;
}

.outer {   
   width: 520px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    cursor: pointer;
    padding: 8px 8px 0 18px;
	transition: margin 0.8s ease;
}

.avatar img {
    width: 60px;
    border-radius: 100%;
    height: 60px;
}

.li-text {
    padding-left: 22px;
    flex-grow: 1;
}

.flag {
    align-self: center;
    padding: 0 8px;
    margin: 0px auto 8px;
}


// Action div

.action {
    text-align: center;
    height: 80px;
    overflow: hidden;
    background-color: darken($dark-brand, 15);
    button {
        background-color: darken($dark-brand, 15);
        border: 1px solid $brand;
        padding: 6px 18px;
        font-size: 16px;
        border-radius: 6px;
        color: lighten($light-brand, 8);
        transition: all 0.3s;

        &:hover {
            background-color: $dark-brand;
            color: lighten($light-brand, 20);
        }
    }

}


.hide { 
    height: 0; 
    display: none;
}