@import "normalise";
@import "colors";
@import "typography";

body {
    background-color: $dark-purple;
}

nav, .list-item {
    background-color: $light-purple;
    margin: 0 auto;
    height: 80px;
    max-width: 520px;
    padding: 0 8px 0 18px;
    transition: all 0.6s;
}

nav {
    height: 100px;
}

.container-nav, .container {
    max-width: 520px;
    margin: 0 auto;
}

.list-item:nth-child(odd) {
    background-color: $purple;
}

.list-item:nth-child(even) {
    background-color: $light-purple;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-left, .nav-right {
    height: 94px;
    display: flex;
    align-items: center;
}

main {
    height: 100vh;
    max-width: 520px;
    margin: 0 auto;
    background-color: $light-purple;
}

.list-item:hover {
        background-color: $dark-purple;
}

.outer {   
    max-width: 520px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.avatar img {
    width: 60px;
    height: auto;
}

.li-text {
    padding-left: 12px;
}