<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Contacts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <!-- Local CSS -->
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <header>
                <div class="container-nav">
                    <nav>
                        <div class="nav-left">
                            <div class="logo"><h1>Contacts</h1></div>
                        </div>

                        <div class="nav-right">
                            <div id="search"><a href="#"><i class="ion-ios-search i-large"></i></a></div>
                            <div id="add"><a href="#"><i class="ion-ios-plus-outline i-large"></i></a></div>
                        </div>
                    </nav>
                </div>
            </header>
            <div id="search-bar">
                <input type="text" name="search" value="" placeholder="Search">
            </div>