<% include ./partials/header %>
        <ul id="contacts-ul">
            <!-- <li class="list-header">
                <h5>A</h5>
            </li> -->
        
            <% contact.forEach(function(contact) { %>
                <li class="list-item">
                    <div class="outer">
                        <div class="avatar">
                            <img src="<%= contact.avatar %>">
                        </div>
                        <div class="li-text">
                            <h2><%= contact.firstName %> <%= contact.lastName %></h2>
                            <p><%= contact.number %></p>
                        </div>
                        <div class="flag">
                            <span class="flag-icon flag-icon-gb"></span>
                        </div>
                    </div>
                    <div class="action hide">
                        <button>edit</button>
                        <button>delete</button>
                    </div>
                </li>  
             <% }); %>
        </ul>
        
<% include ./partials/footer %>
