/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
  color: #f26959;
  font-weight: 400; }

h1 {
  color: #fcfcfc;
  font-weight: 300;
  font-size: 2rem; }

h2 {
  font-size: 1.4rem;
  padding-bottom: 4px; }

p {
  font-weight: 300;
  color: #4e4e4e; }

a {
  color: white; }

a:hover {
  color: white; }

.i-large {
  font-size: 2.2rem;
  color: white;
  padding: 2px 14px 2px 14px; }

i:hover {
  color: #fcfcfc; }

a[href^=tel] {
  color: inherit;
  text-decoration: none; }

/*----------  Styles  ----------*/
body {
  background-color: #ebebeb; }

/*----------  Nav  ----------*/
nav, .list-item {
  margin: 0 auto;
  max-width: 480px;
  transition: all 0.6s;
  background-color: #fcfcfc; }

nav {
  height: 72px;
  display: flex;
  padding: 0 8px;
  align-content: center;
  background-color: #f26959;
  justify-content: space-between; }

.nav-left, .nav-right, .logo {
  height: 72px;
  display: flex;
  align-items: center; }

.logo {
  height: 70px; }

.container-nav, .container {
  max-width: 480px;
  margin: 0 auto;
  border-left: 1px solid #f26959;
  border-right: 1px solid #f26959; }

/*----------  Header Dropdowns  ----------*/
/*---  Add-bar ---*/
#add-bar, #edit-bar {
  margin: 0 auto;
  height: 380px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  transition: all 0.6s;
  background-color: #f26959; }

#edit-bar {
  height: 460px; }

#add-form {
  text-align: center;
  margin: 10px auto 10px; }
  #add-form input[type=text], #add-form input[type=tel], #add-form select {
    width: 75%;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    margin: 6px;
    border-radius: 25px;
    padding: 6px 20px;
    background-color: #fcfcfc;
    transition: width 0.4s ease-in-out;
    border: 2px solid #f26959; }
    #add-form input[type=text]:focus, #add-form input[type=tel]:focus, #add-form select:focus {
      outline: none;
      background-color: white; }
  #add-form input[type=file] {
    border: none;
    font-size: 0.8rem;
    color: white;
    margin: 12px 0 12px 62px; }

.file {
  padding: 20px 0 0 0; }

button {
  padding: 6px 22px;
  font-size: 0.9rem;
  border-radius: 10px;
  margin: 18px;
  transition: all 0.3s;
  display: block;
  margin: 20px auto;
  background-color: #f26959;
  color: #fcfcfc;
  border: 2px solid #fcfcfc; }
  button:hover {
    color: #f26959;
    background-color: #fcfcfc; }

/*---  Searchbar ---*/
#search-bar {
  margin: 0 auto;
  height: 96px;
  max-width: 100%;
  text-align: center;
  transition: all 0.6s;
  padding: 30px 50px;
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  border-top: none; }

#search-bar > input[type=text] {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 25px;
  padding: 2px 20px;
  background-color: #fcfcfc;
  border: 1px solid #b4b4b4; }
  #search-bar > input[type=text]:focus {
    outline: none;
    color: #f26959; }

::-webkit-input-placeholder {
  color: #818181;
  text-transform: capitalize; }

:-moz-placeholder {
  color: #818181;
  text-transform: capitalize;
  opacity: 1; }

::-moz-placeholder {
  color: #818181;
  text-transform: capitalize;
  opacity: 1; }

:-ms-input-placeholder {
  color: #818181;
  text-transform: capitalize; }

.cancel {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

/*----------  Main Body  ----------*/
main {
  height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  background-color: #fcfcfc; }

ul {
  padding-bottom: 80px;
  background-color: #fcfcfc; }

.list-item {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }

li:nth-child(odd) {
  background: #ececec; }

li:nth-child(even) {
  background: #fcfcfc; }

li:nth-last-child(1) {
  border-bottom: 1px solid #dddddd; }

.list-item:hover {
  background-color: #dddddd; }

.outer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 80px;
  cursor: pointer;
  align-items: center;
  padding: 0 8px 0 18px;
  transition: margin 0.8s ease; }

.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%; }

.li-text {
  display: flex;
  height: 80px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 22px 8px 22px; }

.flag {
  align-self: center;
  margin: 0px 8px 4px; }

/*----------  Action Div  ----------*/
.action {
  text-align: center;
  height: 70px;
  overflow: hidden;
  background-color: #f26959; }
  .action button {
    padding: 4px 14px;
    font-size: 0.8rem;
    border-radius: 6px;
    transition: all 0.3s;
    color: #f4f4f4;
    background-color: #f26959;
    border: 1px solid #f4f4f4; }
    .action button:hover {
      background-color: #ececec;
      color: #f26959; }

.delete-form, .edit-form {
  display: inline-block; }

.edit-avatar {
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  .edit-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%; }

/*----------  Helper Classes  ----------*/
.hide {
  height: 0;
  display: none; }

.hidden {
  display: none; }

@media only screen and (max-width: 600px) {
  #add-bar {
    height: 400px; }
  #add-form button {
    font-size: 1.3rem; }
  #search-bar {
    height: 106px;
    padding: 30px 20px; }
    #search-bar input[type=text] {
      font-size: 1.5rem; }
  .action button {
    font-size: 1.1rem; } }
