@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

*, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
  color: #181818;
  font-weight: 400; }

h1 {
  font-weight: 300;
  font-size: 2.8rem;
  color: #23463f; }

h2 {
  font-size: 1.4rem;
  padding-bottom: 4px; }

p {
  font-weight: 300;
  opacity: 0.8; }

i:hover {
  color: black; }

.i-large {
  font-size: 2.2rem;
  padding: 2px 14px 0px 10px;
  color: #23463f; }

body {
  background-color: #509d8d; }

nav, .list-item {
  background-color: #abe7db;
  margin: 0 auto;
  height: 80px;
  max-width: 520px;
  padding: 0 8px 0 18px;
  transition: all 0.6s;
  overflow: hidden; }

nav {
  height: 100px; }

.container-nav, .container {
  max-width: 520px;
  margin: 0 auto; }

.list-item:nth-child(odd) {
  background-color: #7cd5c1; }

.list-item:nth-child(even) {
  background-color: #abe7db; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center; }

.nav-left, .nav-right {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#search-bar {
  background-color: #abe7db;
  margin: 0 auto;
  height: auto;
  max-width: 520px;
  transition: all 0.6s;
  text-align: center;
  overflow: hidden; }

.pad {
  padding: 4px 0px 28px 0px; }

#search-bar > input[type=text] {
  max-width: 400px;
  border: none;
  font-size: 26px;
  font-weight: 400;
  border-radius: 25px;
  display: none;
  padding: 2px 20px 2px 20px;
  background-color: #abe7db;
  transition: width 0.4s ease-in-out;
  border: 2px solid #5fad9d; }
  #search-bar > input[type=text]:focus {
    outline: none;
    background-color: #bbece2; }

#search-bar > input[type=text]:focus {
  outline: none; }

#add-bar {
  background-color: #abe7db;
  margin: 0 auto;
  height: auto;
  max-width: 520px;
  transition: all 0.6s;
  overflow: hidden;
  display: none; }

#add-form {
  max-width: 460px;
  margin: 10px auto 10px;
  text-align: center; }
  #add-form input[type=text] {
    width: 360px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    border-radius: 25px;
    padding: 6px 20px;
    transition: width 0.4s ease-in-out;
    background-color: #abe7db;
    border: 2px solid #5fad9d; }
    #add-form input[type=text]:focus {
      background-color: #bbece2;
      outline: none; }
  #add-form input[type=file] {
    border: none;
    font-size: 12px;
    margin: 12px 0 12px 62px; }

#file {
  padding: 20px 0 0 0; }

button {
  background-color: #7cd5c1;
  border: 2px solid #58aa99;
  padding: 8px 24px;
  font-size: 16px;
  border-radius: 10px;
  margin: 18px;
  color: #23463f;
  transition: all 0.3s; }
  button:hover {
    background-color: #58aa99;
    color: #fafefd; }

::-webkit-input-placeholder {
  color: #35675d;
  text-transform: capitalize; }

:-moz-placeholder {
  color: #35675d;
  text-transform: capitalize;
  opacity: 1; }

::-moz-placeholder {
  color: #35675d;
  text-transform: capitalize;
  opacity: 1; }

:-ms-input-placeholder {
  color: #35675d;
  text-transform: capitalize; }

input, button {
  -webkit-appearance: none; }

main {
  height: 100vh;
  max-width: 520px;
  margin: 0 auto;
  background-color: #abe7db; }

ul {
  background-color: #abe7db;
  padding-bottom: 80px; }

.list-item:hover {
  background-color: #58aa99; }

.outer {
  max-width: 520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  transition: margin 0.8s ease; }

.avatar img {
  width: 60px;
  border-radius: 100%;
  height: 60px; }

.li-text {
  padding-left: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flag {
  padding: 8px; }
