@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

*, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
  color: #fcfcfc;
  font-weight: 400; }

h1 {
  font-weight: 300;
  font-size: 2.8rem;
  color: #fcfcfc; }

h2 {
  font-size: 1.4rem;
  padding-bottom: 4px; }

p {
  font-weight: 300;
  opacity: 0.8; }

i:hover {
  color: #fcfcfc; }

.i-large {
  font-size: 2.2rem;
  padding: 2px 14px 0px 10px;
  color: #e3e2e2; }

body {
  background-color: #512937; }

nav, .list-item {
  background-color: #804c5f;
  margin: 0 auto;
  max-width: 520px;
  transition: all 0.6s; }

nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 8px 0 18px; }

.nav-left, .nav-right {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container-nav, .container {
  max-width: 520px;
  margin: 0 auto; }

#search-bar {
  background-color: #804c5f;
  margin: 0 auto;
  height: 80px;
  max-width: 520px;
  transition: all 0.6s;
  text-align: center;
  overflow: hidden; }

#search-bar > input[type=text] {
  max-width: 400px;
  border: none;
  font-size: 26px;
  font-weight: 400;
  border-radius: 25px;
  padding: 2px 20px 2px 20px;
  background-color: #804c5f;
  transition: width 0.4s ease-in-out;
  border: 2px solid #5e3040; }
  #search-bar > input[type=text]:focus {
    outline: none;
    background-color: #8d5469; }

#search-bar > input[type=text]:focus {
  outline: none; }

#add-bar {
  background-color: #804c5f;
  margin: 0 auto;
  height: 380px;
  max-width: 520px;
  transition: all 0.6s;
  overflow: hidden;
  display: none; }

#add-form {
  max-width: 460px;
  margin: 10px auto 10px;
  text-align: center; }
  #add-form input[type=text] {
    width: 360px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    border-radius: 25px;
    padding: 6px 20px;
    transition: width 0.4s ease-in-out;
    background-color: #804c5f;
    border: 2px solid #5e3040; }
    #add-form input[type=text]:focus {
      background-color: #8d5469;
      outline: none; }
  #add-form input[type=file] {
    border: none;
    font-size: 12px;
    margin: 12px 0 12px 62px; }

#file {
  padding: 20px 0 0 0; }

button {
  background-color: #6b3f4f;
  border: 2px solid #572c3c;
  padding: 6px 26px;
  font-size: 16px;
  border-radius: 10px;
  margin: 18px;
  color: #c69fad;
  transition: all 0.3s; }
  button:hover {
    background-color: #572c3c; }

::-webkit-input-placeholder {
  color: #140a0d;
  text-transform: capitalize; }

:-moz-placeholder {
  color: #140a0d;
  text-transform: capitalize;
  opacity: 1; }

::-moz-placeholder {
  color: #140a0d;
  text-transform: capitalize;
  opacity: 1; }

:-ms-input-placeholder {
  color: #140a0d;
  text-transform: capitalize; }

input, button {
  -webkit-appearance: none; }

main {
  height: 100vh;
  max-width: 520px;
  margin: 0 auto;
  background-color: #804c5f; }

ul {
  background-color: #804c5f;
  padding-bottom: 80px; }

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto; }

li:nth-child(odd) {
  background: #6b3f4f; }

li:nth-child(even) {
  background: #804c5f; }

li:nth-last-child(1) {
  border-bottom: 2px solid #572c3c;
  box-shadow: 0 2px 12px 0 #572c3c; }

.list-item:hover {
  background-color: #572c3c; }

.outer {
  width: 520px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  cursor: pointer;
  padding: 8px 8px 0 18px;
  transition: margin 0.8s ease; }

.avatar img {
  width: 60px;
  border-radius: 100%;
  height: 60px; }

.li-text {
  padding-left: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flag {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 8px;
  margin: 0px auto 8px; }

.action {
  text-align: center;
  height: 80px;
  overflow: hidden;
  background-color: #4a2532; }
  .action button {
    background-color: #4a2532;
    border: 1px solid #bd8fa0;
    padding: 6px 18px;
    font-size: 16px;
    border-radius: 6px;
    color: #d9bfc9;
    transition: all 0.3s; }
    .action button:hover {
      background-color: #6b3f4f;
      color: #fcfcfc; }

.hide {
  height: 0;
  display: none; }

.hidden {
  display: none; }
